@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Roboto+Slab:wght@100..900&display=swap");
.toggler, .mainNav li a {
  color: #e0af56;
  text-transform: capitalize;
  padding: 10px 25px 11px;
  border-radius: 200px;
  cursor: pointer;
}
.active.toggler, .mainNav li a.active, .toggler:hover, .mainNav li a:hover {
  background-color: #e0af56;
  color: #1a0025;
}

* {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  text-transform: capitalize;
}

body {
  font: 400 20px/1.5 "Roboto Slab", serif;
  color: #fff;
}

.main {
  background-color: #1a0025;
  position: relative;
  display: flex;
  min-height: 100vh;
  padding: 5vw;
  background-image: url(../images/net.png);
  background-size: auto 30%;
  background-position: top left;
  background-repeat: no-repeat;
}

.left,
.right {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
  flex-flow: column;
  width: 50%;
}

.right {
  justify-content: space-between;
}

h1,
.h1 {
  font-size: 7vw;
  font-family: "Creepster", system-ui;
  background: linear-gradient(to top, #6432b6, #7d319f, #ce416a, #b52e4b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  text-align: center;
  line-height: 1;
}

h2,
.h2 {
  font-size: 3.5vw;
  font-family: "Creepster", system-ui;
  background: linear-gradient(to top, #6432b6, #7d319f, #ce416a, #b52e4b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  text-align: center;
  line-height: 1;
  background: linear-gradient(to top, #f9e30c, #c66736 80%, #882d5b);
  -webkit-background-clip: text;
  z-index: 2;
}

.offer {
  font-size: 3.5vw;
  font-family: "Creepster", system-ui;
  background: linear-gradient(to top, #6432b6, #7d319f, #ce416a, #b52e4b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  text-align: center;
  line-height: 1;
  -webkit-text-fill-color: #e0af56;
  text-shadow: 0 0 1px #370b17;
  -webkit-background-clip: unset;
  background-image: url(../images/blood.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 50px 30px;
  margin-top: -20px;
}

.btn {
  color: #1a0025;
  background-color: #e0af56;
  border-radius: 20px;
  padding: 7px 40px;
  font-size: 20px;
  font-weight: 700;
}

.topNav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
}

.mainNav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
  -moz-column-gap: 5px;
       column-gap: 5px;
  padding: 0;
  margin: 0;
}
.mainNav li {
  list-style-type: none;
}
.content {
  width: 40vw;
  margin: auto;
  text-align: center;
  position: relative;
}

footer {
  position: absolute;
}

.banner {
  position: relative;
  height: 80%;
  filter: drop-shadow(0px -10px 104px #902dac);
}

p {
  margin: 10px 0 30px;
}

.bhoot {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 9vw;
}
.bhoot.bhoot1 {
  left: 50%;
  animation: left 2s ease-in-out forwards, toggle1 3s ease-in-out infinite alternate;
}
.bhoot.bhoot2 {
  right: 50%;
  animation: right 2s ease-in-out forwards, toggle2 3s ease-in-out infinite alternate;
}

@keyframes left {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
@keyframes right {
  from {
    right: 50%;
  }
  to {
    right: 0;
  }
}
@keyframes toggle1 {
  0% {
    top: 50%;
  }
  50% {
    top: 45%;
  }
  100% {
    top: 50%;
  }
}
@keyframes toggle2 {
  0% {
    top: 50%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 50%;
  }
}/*# sourceMappingURL=style.css.map */