@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Roboto+Slab:wght@100..900&display=swap');
// font-family: "Texturina", serif;

// font-family: "Roboto Slab", serif;
// font-family: "Creepster", system-ui;

@font-face {
    font-family: 'Bloody Terror';
    src: url('../fonts/BloodyTerror-GOW9Z.ttf');
}


$primary: #e0af56;
$seconodary: #1a0025;
$white: #fff;
$red: #f00;

@mixin flex() {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    row-gap: 20px;
}

@mixin head($font: 7vw) {
    font-size: $font;
    font-family: "Creepster", system-ui;
    background: linear-gradient(to top, #6432b6, #7d319f, #ce416a, #b52e4b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // -webkit-text-stroke: 2px #370b17;
    position: relative;
    text-align: center;
    line-height: 1;
    animation: fadeIn 2s ease-in-out forwards;
}

%abc {
    color: $primary;
    text-transform: capitalize;
    padding: 10px 25px 11px;
    border-radius: 200px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &.active,
    &:hover {
        background-color: $primary;
        color: $seconodary;
    }
}

* {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    text-transform: capitalize;
}

body {
    font: 400 20px/1.5 "Roboto Slab", serif;
    color: $white;
}

// ==============================


.main {
    background-color: $seconodary;
    position: relative;
    display: flex;
    min-height: 100vh;
    padding: 5vw;
    background-image: url(../images/net.png);
    background-size: auto 30%;
    background-position: top left;
    background-repeat: no-repeat;
    overflow: hidden;
}

.left,
.right {
    @include flex();
    flex-flow: column;
    width: 50%;
    position: relative;
}

.right {
    justify-content: space-between;
}

h1,
.h1 {
    @include head();
}

h2,
.h2 {
    @include head($font: 3.5vw);
    background: linear-gradient(to top, #f9e30c, #c66736 80%, #882d5b);
    -webkit-background-clip: text;
    z-index: 2;
}

.offer {
    @include head($font: 3.5vw);
    -webkit-text-fill-color: #e0af56;
    text-shadow: 0 0 1px #370b17;
    -webkit-background-clip: unset;
    background-image: url(../images/blood.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 50px 30px;
    margin-top: -20px;
}

.btn {
    color: $seconodary;
    background-color: $primary;
    border-radius: 20px;
    padding: 7px 40px;
    font-size: 20px;
    font-weight: 700;
    animation: fadeIn 2s ease-in-out forwards;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: $red;
        background: $white;
        font-family: 'Bloody Terror';
    }
}

.topNav {
    @include flex();
}

.mainNav {
    @include flex();
    column-gap: 5px;
    padding: 0;
    margin: 0;

    li {
        list-style-type: none;

        a {
            @extend %abc;
        }
    }
}

.toggler {
    @extend %abc;
}

.logo {
    width: 15%;
    position: absolute;
    z-index: 5;
    bottom: 0;
    right: 0;
    filter: brightness(0) saturate(100%) invert(87%) sepia(62%) saturate(6755%) hue-rotate(313deg) brightness(92%) contrast(90%) drop-shadow(0 5px 20px #000);
    animation: round 3s ease-in-out infinite alternate;
    max-width: 70px;
}


.content {
    width: 40vw;
    margin: auto;
    text-align: center;
    position: relative;
}


.banner {
    position: relative;
    height: 80%;
    z-index: 2;
    margin: auto;
    filter: drop-shadow(0px -10px 104px #902dac);
    animation: banner 2s ease-in-out;
}

p {
    margin: 10px 0 30px;
    animation: fadeIn 2s ease-in-out forwards;
}

.bhoot {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 9vw;

    &.bhoot1 {
        animation: left 2s ease-in-out forwards, toggle1 2s ease-in-out infinite alternate;
    }

    &.bhoot2 {
        animation: right 2s ease-in-out forwards, toggle2 1s ease-in-out infinite alternate;
    }
}

.bat {
    width: 5vw;

    &.bat1 {
        animation: bat1 4s ease-in-out infinite;
    }

    &.bat2 {
        animation: bat2 4s ease-in-out infinite;
    }
}

.rbat {
    width: 4vw;
    position: absolute;
    top: 60%;
    right: 30%;

    &.rbat1 {
        right: 5%;
        top: 40%;
        // animation: rbat1 4s ease-in-out infinite;

    }

    &.rbat2 {
        transform: rotate(-30deg);
        top: 30%;
        right: 10%;
        // animation: rbat2 4s ease-in-out infinite;
    }
}

footer {
    position: absolute;
    left: 5vw;
    bottom: 1vw;
}

.footLink {
    @include flex();
    list-style-type: none;
    padding: 0;

    a {
        background-color: $primary;
        color: $seconodary;
        border-radius: 50%;
        width: 40px;
        line-height: 40px;
        display: inline-block;
        text-align: center;
        transition: all 0.3s ease-in-out;

        &:hover {
            transform: scale(1.5);
            color: $red;
            background: $white;
        }
    }
}



@keyframes left {
    from {
        left: 50%;
    }

    to {
        left: -10px;
    }
}

@keyframes right {
    from {
        right: 50%;
        top: 50%;
    }

    to {
        right: -10px;
        top: 35%;
    }
}

@keyframes toggle1 {
    0% {
        top: 50%;
    }

    50% {
        top: 40%;
    }

    100% {
        top: 50%;
    }
}

@keyframes toggle2 {
    from {
        top: 35%;
    }

    to {
        top: 50%;
    }
}

@keyframes fadeIn {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes bat1 {
    from {
        transform: translateY(20px);
    }

    to {
        transform: translate(400px, -30vh);
    }
}

@keyframes bat2 {
    from {
        transform: translateY(30px);
    }

    to {
        transform: translateY(-45vh);
    }
}

@keyframes rbat1 {
    from {
        transform: rotate(0deg) translateY(0px) translateX(0);
    }

    to {
        transform: rotate(-90deg) translate(200px, -200px);
    }
}

@keyframes rbat2 {
    from {
        transform: translateY(30px);
    }

    to {
        transform: translateY(-45vh);
    }
}

@keyframes round {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

@keyframes banner {
    from {
        opacity: 0.6;
    }

    to {
        opacity: 1;
    }
}



@media (max-width: 1199px) {

    nav {
        display: none;
    }

    .right {
        justify-content: space-evenly;
        align-items: end;
    }

    .banner {
        width: 80%;
        height: auto;
    }

}

@media (max-width: 991px) {
    .main {
        flex-wrap: wrap-reverse;
        padding-bottom: 100px;
        row-gap: 30px;
        background-size: 60vw auto;
    }

    .banner {
        width: auto;
    }

    .content {
        width: 95%;
    }

    .right,
    .left {
        width: 100%;
    }

    h1,
    .h1 {
        font-size: 80px;
    }

    h2,
    .h2,
    .offer {
        font-size: 35px;
    }

    footer {
        left: 0;
        right: 0;
    }

    .bat,
    .rbat {
        display: none;
    }
}